<div></div>
<button class="btn btn-danger pull-left" ng-click="goBack()">Go Back</button>
<div class="pull-right">
    <div class="input-group">
        <input type="text" class="form-control" 
        placeholder="Search..." ng-model="searchText" />
    </div>
</div>
<div class="panel-group" ng-controller="blogCtr">
    <div class="panel panel-default" ng-repeat="newblog in newBlogs | orderBy: 'created_at':true | filter: searchText track by $index ">
        <h1 class="text-center">{{newblog.title}}</h1>
        <div class="panel-body">{{newblog.body}}</div>
        <div class="panel-footer">Author: {{newblog.author}}</div>
        <div class="panel-footer">{{formatDate(newblog.time)}}</div>
        <comment></comment>
    </div>
</div>